body{
	background-color:#F0FFF0;
}
header{
	background-color: #cfe2ff;
}


.container{
	padding: 12px;
}
.cbtn{
	overflow: hidden;
	float: right;
}

.box{
	padding: 10px;
	margin: 5px 0;
	background-color: #cfe2ff;
}
.cd{
	background-color: #cfe2ff;
}